*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.icon-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #111;
}
